ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
ul > li {
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* border: px solid black ; */
  height: 50px;
  padding: 20px;
  padding-top: 40px;

}
.nav-pills .nav-link.active {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid var(--secondary);
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0.37); */

}
.nav-pills .nav-link {
  color: var(--secondary);
  font-size: large;
}
.nav-pills .nav-link:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0.37); */
  animation: fadeInBlur 3s 0s forwards;
}
@keyframes fadeInBlur {
  from {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  to {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }
}

