<div class="projects">
  <h2><span>My&nbsp;</span>Projects</h2>
  <div class="project-cards">
    <app-project-card [title]="'Portfolio'" [description]="'Created using Angular - This is where you are!'"></app-project-card>
    <app-project-card [title]="'BuyerFolio'" [description]="'MEAN Stack App - An internship project'"></app-project-card>
    <app-project-card [title]="'GeoSpatial API'" [description]="'Nodejs | RESTApi - Something I`ve done in college'"></app-project-card>
  </div>
  <div class="desc-card card">
    <div class="card-body">
      <h5 class="card-title">Portfolio</h5>
      <p class="card-text">Made with Angular! It's a single page app which showcases my Skills and Experience</p>
      <p class="card-text">This app uses dynamically loaded components which removes the routing module</p>
    </div>
  </div>
</div>
