.projects {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.projects >h2 {
  font-size: 72px;
}
.projects >h2 span {
  font-weight: 100;
}
.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.desc-card {
  margin-top: 120px;
}
.card {
  width: 40rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 0));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0.37);
  color: var(--secondary);
  transition: transform .3s ease;
  animation: fadeInBlur 3s 2s forwards;
  text-align: center;
}
.card:hover {
  transform: scale(1.01);
  border: 1px solid var(--secondary);
}
@keyframes fadeInBlur {
  from {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}

app-project-card {
  padding: 20px;
}
