.main {
  background-image: url("../../../assets/images/image_3.jpg");
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 50vh;
  min-height: 739px;
  backdrop-filter: blur(20px);
}

