.stack {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.stack >h2 {
  font-size: 72px;
}
.stack >h2 span {
  font-weight: 100;
}
.stack-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

app-stack-card {
  padding: 20px;
}
