/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --primary: #101820;
  --secondary: #FEE715;

  --font: 'League Spartan', sans-serif;

}
body {
  /* background-color: #ccc; */
  font-family: var(--font);

}
::-webkit-scrollbar {
  width: 0px;
}
/* ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: #ccc;
} */
/*Animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s;
}

